body {
  background-attachment: fixed;
  background-image: url('../public/doc1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding-top: 100px;
}
